{% extends 'base.html' %}

{% block app_content %}
<div class="container">
    <table class="table table-hover">
        <tr>
            <td width="128px"><img src="{{ group.avatar(128) }}"></td>
            <td>
                <h1>Group name: {{ group.name }}</h1>
                <p>Group owner: {{ group.owner.username }}</p>
                <p>Creation date: {{ group.date_created }}</p>
                {% if group.description %}<p>Group description: {{ group.description }}</p>{% endif %}
            </td>
            <td>
                <form action="{{ url_for('main.edit_group', group_id=group.id) }}" method="GET">
                    <button type="submit" class="btn btn-primary mr-3">Edit your group</button>
                </form>
                <br>
                <form action="{{ url_for('main.delete_group', group_id=group.id) }}" method="POST">
                    <button type="submit" class="btn btn-primary mr-3">Delete group</button>
                </form>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h2>Current members of your group:</h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">User Name</th>
                            <th scope="col">User Avatar</th>
                            <th scope="col">User Description</th>
                            <th scope="col">User Last Seen</th>
                            <th scope="col">User Date Added</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    {% for user in group_users.items%}
                    {% include '_user.html' %}
                    {% endfor %}
                </table>
                <!-- Pagination Links-->
                <div class="text-right">
                    <a href="{{ url_for('main.group', groupname=group.name, page_user = group_users.prev_num, page_invitation=group_invitations.page, page_request=group_requests.page) }}"
                        class="btn btn-outline-dark
                                            {% if group_users.page == 1 %}disabled{% endif %}">
                        &laquo;
                    </a>
                    <!-- Loop through the number of pages to display a link for each-->
                    {% for page_num_user in group_users.iter_pages(left_edge=1, right_edge=1, left_current=1,
                    right_current=2) %}
                    {% if page_num_user %}
                    <!-- Check for the active page and set the link to "Active"-->
                    {% if group_users.page == page_num_user %}
                    <a href="{{ url_for('main.group', groupname=group.name, page_users = page_num_user, page_invitation=group_invitations.page, page_request=group_requests.page) }}"
                        class="btn btn-dark">
                        {{ page_num_user }}
                    </a>
                    {% else %}
                    <a href="{{ url_for('main.group', groupname=group.name, page_user = page_num_user, page_invitation=group_invitations.page, page_request=group_requests.page) }}"
                        class="btn btn-outline-dark">
                        {{ page_num_user }}
                    </a>
                    {% endif %}
                    {% else %}
                    ...
                    {% endif %}
                    {% endfor %}
                    <a href="{{ url_for('main.group', groupname=group.name, page_user = group_users.prev_num, page_invitation=group_invitations.page, page_request=group_requests.page) }}"
                        class="btn btn-outline-dark
                            {% if group_users.page == group_users.pages %}disabled{% endif %}">
                        &raquo;
                    </a>
                </div>
                <p class="text-right mt-3">
                    Showing page {{ group_users.page }} of {{ group_users.pages }}
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h2>User's that requested to join to your group:</h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">User Name</th>
                            <th scope="col">User Avatar</th>
                            <th scope="col">User Description</th>
                            <th scope="col">User Last Seen</th>
                            <th scope="col">Request Date</th>
                            <th scope="col">Request status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    {% for request in group_requests.items %}
                    {% include '_sent_request.html' %}
                    {% endfor %}
                </table>
                <!-- Pagination Links-->
                <div class="text-right">
                    <a href="{{ url_for('main.group', groupname=group.name, page_user = group_users.page, page_invitation=group_invitations.page, page_request=group_requests.prev_num) }}"
                        class="btn btn-outline-dark
                            {% if group_requests.page == 1 %}disabled{% endif %}">
                        &laquo;
                    </a>
                    <!-- Loop through the number of pages to display a link for each-->
                    {% for page_num_request in group_requests.iter_pages(left_edge=1, right_edge=1, left_current=1,
                    right_current=2) %}
                    {% if page_num_request %}
                    <!-- Check for the active page and set the link to "Active"-->
                    {% if group_requests.page == page_num_request %}
                    <a href="{{ url_for('main.group', groupname=group.name, page_users = group_users.page, page_invitation=group_invitations.page, page_request=page_num_request) }}"
                        class="btn btn-dark">
                        {{ page_num_request }}
                    </a>
                    {% else %}
                    <a href="{{ url_for('main.group', groupname=group.name, page_user = group_users.page, page_invitation=group_invitations.page, page_request=page_num_request) }}"
                        class="btn btn-outline-dark">
                        {{ page_num_request }}
                    </a>
                    {% endif %}
                    {% else %}
                    ...
                    {% endif %}
                    {% endfor %}
                    <a href="{{ url_for('main.group', groupname=group.name, page_user = group_users.page, page_invitation=group_invitations.page, page_request=group_requests.prev_num) }}"
                        class="btn btn-outline-dark
                            {% if group_requests.page == group_requests.pages %}disabled{% endif %}">
                        &raquo;
                    </a>
                </div>
                <p class="text-right mt-3">
                    Showing page {{ group_requests.page }} of {{ group_requests.pages }}
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h2>User's that you've send invitation to your group:</h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">User Name</th>
                            <th scope="col">User Avatar</th>
                            <th scope="col">User Description</th>
                            <th scope="col">User Last Seen</th>
                            <th scope="col">Invitation send Date</th>
                            <th scope="col">Invitation status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    {% for invitation in group_invitations.items %}
                    {% include '_sent_invitation.html' %}
                    {% endfor %}
                </table>
                <!-- Pagination Links-->
                <div class="text-right">
                    <a href="{{ url_for('main.group', groupname=group.name, page_user = group_users.page, page_invitation=group_invitations.pre_num, page_request=group_requests.page) }}"
                        class="btn btn-outline-dark
                                            {% if group_invitations.page == 1 %}disabled{% endif %}">
                        &laquo;
                    </a>
                    <!-- Loop through the number of pages to display a link for each-->
                    {% for page_num_invitation in group_invitations.iter_pages(left_edge=1, right_edge=1,
                    left_current=1,
                    right_current=2) %}
                    {% if page_num_invitation %}
                    <!-- Check for the active page and set the link to "Active"-->
                    {% if group_invitations.page == page_num_invitation %}
                    <a href="{{ url_for('main.group', groupname=group.name, page_users = group_users.page, page_invitation=page_num_invitation, page_request=group_requests.page) }}"
                        class="btn btn-dark">
                        {{ page_num_invitation }}
                    </a>
                    {% else %}
                    <a href="{{ url_for('main.group', groupname=group.name, page_user = group_users.page, page_invitation=page_num_invitation, page_request=group_requests.page) }}"
                        class="btn btn-outline-dark">
                        {{ page_num_invitation }}
                    </a>
                    {% endif %}
                    {% else %}
                    ...
                    {% endif %}
                    {% endfor %}
                    <a href="{{ url_for('main.group', groupname=group.name, page_user = group_users.page, page_invitation=group_invitations.next_num, page_request=group_requests.page) }}"
                        class="btn btn-outline-dark
                                            {% if group_invitations.page == group_invitations.pages %}disabled{% endif %}">
                        &raquo;
                    </a>
                </div>
                <p class="text-right mt-3">
                    Showing page {{ group_requests.page }} of {{ group_requests.pages }}
                </p>
            </td>
        </tr>
    </table>

    <hr>
</div>
{% endblock %}